
# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editors
.idea/
.vscode/*.code-workspace

# Go
pkg
bin
src
github.com
*.test
coverage.out

# Project-specific
/mule-app-analyser
reports/
releases
archive
example-mule-apps
plan
